@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #252832;
}
h1{
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 40px;
    opacity:0.8;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(/assets/img/BG_img3.png);
  background-repeat: no-repeat;
/*    background-size: cover;*/
/*    background: rgba(255, 255, 255,0.1);*/
  text-align:center;
  color: #252832;
  font-weight: 100;
  font-size: 18px;
}

.container
{
/*    width: 50%;*/
/*    max-width: 1024px;*/
/*    margin: auto;*/
    text-align: center;
    margin-top: 100px;
    vertical-align: middle;
    
}



.mainIcon{
    width: 120px;
    height: 120px;
}
p{
    font-size: 18px;
    opacity: 0.8;
    margin: 15px 0;
}
div {
  display: inline-block;
  line-height: 1.3;
/*  padding: 0px;*/
}

span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color:#252832;
  opacity:0.5;
  margin-top: 6px;
}

#days, #hours, #minutes, #seconds
 {
  font-size: 40px;
  margin: 20px 10px;
  font-weight: 400;
  color:#252832;
  opacity: 0.8;
  text-align:center;
}
/*

#banner-load{
   width: 50%;
   position:fixed;
   right: 0px;
   height: 100%;
   background-repeat:no-repeat;

}

.fade-in{
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}*/
