/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */
/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
    text-align: center
}

.mt {
    margin-top: 80px;
}

.mb {
    margin-bottom: 80px;
}
/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #4a4a4a;
}
/*
.navbar-brand {
    font-weight: 600;
    font-size: 22px !important;
}
*/
/*
.navbar-right {
    font-weight: 400;
    font-size: 20px !important;
}
*/

.navbar-default .navbar-brand {
    color: #363945;
    /*    color: #1abc9c;*/
}

.navbar-default {
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: transparent;
    /*    background-color: transparent;*/
    
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #363945;
    /*    color: #1abc9c;*/
    
    background-color: transparent;
    border-bottom: 2px solid #363945;
    /*    border-bottom: 2px solid #1abc9c;*/
}

.navbar-default .navbar-nav > li > a {
    color: #484C5B;
    /*    color: #1abc9c;*/
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background: url(../img/back.jpg) no-repeat center;
    margin-top: 0px;
    padding-top: 200px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*    box-shadow: 0px -3px 10px #888888;*/
}

#headerwrap h1 {
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 25px;
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: bold;
}

#headerwrap h4 {
    font-weight: 400;
    color: #ffffff
}

#aboutPage .profilePic {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

#aboutPage {
    background: #F5F5F5;
    /*    box-shadow: 0px -3px 10px #B8B8B8;*/
}

#aboutPage .paragraphs {
    margin-top: 30px;
}

#aboutPage .aboutText p {
    font-size: 21px !important;
    font-weight: 300;
    padding-bottom: 30px;
}

@media (min-width: 201px) and (max-width: 500px) {
    .aboutClass .profilePic {
        border-radius: 50%;
        height: 80% !important;
        width: 80% !important;
    }
    body {
        overflow-x: hidden;
    }
    #aboutPage .aboutText p {
        font-size: 100% !important;
    }
    #headerwrap h1 {
        font-size: 370% !important;
    }
}

#works {
    background: #EBEBEB;
    /*    box-shadow: 0px -3px 10px #B8B8B8;*/
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24, 188, 156, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
    margin-top: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.portfolioModal5 p {
    text-align: left !important;
}

#social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D6D6D6;
    /*    box-shadow: 0px -3px 10px #B8B8B8;*/
}

#social i {
    font-size: 40px;
    color: #4a4a4a;
}

#social i:hover {
    color: #546E7A;
    /*    color: #1abc9c;*/
}

#footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f;
    /*    box-shadow: 0px -3px 10px #B8B8B8;*/
}

#footerwrap p {
    color: #f2f2f2;
    margin-left: 10px;
}

.col-xs-4 {
    padding-bottom: 15px !important;
}

#workwrap {
    background: url(../img/work.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#workwrap h4 {
    font-weight: 400;
    color: #ffffff
}

#aboutwrap {
    background: url(../img/about.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 550px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Gallery */

.gallery {
    margin-top: 30px;
}

.gallery img:hover {
    opacity: 0.4;
}