@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Roboto:400,300,100,500);
.centered {
    text-align: center
}

.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 50px !important;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt100 {
    margin-top: 100px;
}

.mb100 {
    margin-bottom: 100px !important;
}

.roboto100 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.roboto300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.roboto400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.fontAleg {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
}

.valign {
    vertical-align: middle !important;
}

.col-xs-4 {
    padding-bottom: 15px !important;
}

button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 16px 30px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff !important;
}

button:focus {
    outline: none
}

section.press button {
    color: #fff;
    background-color: #303F9F;
    border: none;
    opacity: 0.9;
}

section.press button:hover,
section.press button.hover {
    opacity: 0.6;
}

section.press button:active,
section.press button.active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}
/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    background: #ECA345;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    color: #4a4a4a;
}

.navbar-right {
    /*    font-weight: 400;*/
    
    font-size: 14px !important;
}

.mainFileNavbar .navbar-default .navbar-brand {
    color: #fff;
    font-size: 30px !important;
}

.mainFileNavbar .navbar-default {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -70px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0);
}

.mainFileNavbar .navbar-default .navbar-nav > .active > a,
.mainFileNavbar .navbar-default .navbar-nav > .active > a:hover,
.mainFileNavbar .navbar-default .navbar-nav > .active > a:focus {
    color: #ccc;
    background-color: transparent;
    /*    border-bottom: 2px solid #363945;*/
}

.mainFileNavbar .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.4em !important;
}
/**/

.otherNavbar .navbar-default .navbar-brand {
    color: #ccc;
    /*    color: #1abc9c;*/
}

.otherNavbar .navbar-default {
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: transparent;
    /*    background-color: transparent;*/
    
    background-color: rgba(255, 255, 255, 1);
}

.otherNavbar .navbar-default .navbar-nav > .active > a,
.otherNavbar .navbar-default .navbar-nav > .active > a:hover,
.otherNavbar .navbar-default .navbar-nav > .active > a:focus {
    color: #363945;
    /*    color: #1abc9c;*/
    
    background-color: transparent;
    border-bottom: 2px solid #363945;
    /*    border-bottom: 2px solid #1abc9c;*/
}

.otherNavbar .navbar-default .navbar-nav > li > a {
    color: #484C5B;
    /*    color: #1abc9c;*/
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

.fixed-bg {
    background-image: url(../img/back3.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headerwrap {
    padding-top: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

#headerwrap h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    padding-bottom: 10px;
    /*    letter-spacing: -4px;*/
    
    font-size: 65px;
    font-weight: 500;
}

#headerwrap h4 {
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 35px;
}

#headerwrap .press {
    margin-top: 50px;
}

#workSection {
    background: #f7f7f7;
    min-height: 700px;
    box-shadow: 20px #B8B8B8;
    box-shadow: 0px 0px 20px #777777;
}

#workSection .press {
    /*    margin-top: 400px !important;*/
}

.fixed-bg2 {
    background-image: url(../img/back4.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footerwrap {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E8EAF6;
    box-shadow: 0px 0px 20px #777777;
    /*    box-shadow: 0px -3px 10px #B8B8B8;*/
}

#footerwrap i {
    /*    font-size: 40px;*/
    
    color: #757575;
}

#footerwrap i:hover {
    /*    color: #E0E0E0;*/
    
    color: #fff;
}

#footerwrap p {
    color: #f2f2f2;
    /*    margin-left: 10px;*/
}

#social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D6D6D6;
    /*    box-shadow: 0px -3px 10px #B8B8B8;*/
}

.gallery img {
    border-radius: 10px;
}

.gallery img:hover {
    opacity: 0.5;
}

#navcontainer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li {
    display: inline;
    padding: 0.7em 0.7em;
    margin: 0.2em 0.2em;
}

#navcontainer ul li a {
    text-decoration: none;
    /*    padding: .5em 0.5em;*/
    
    color: #fff;
}
/*
#navcontainer ul li a:hover {
    color: #fff;
}
*/
/*
#navcontainer ul #behance:hover {
    background-color: #131418;
    color: #fff;
}

#navcontainer ul #facebook:hover {
    background-color: #3b5999;
    color: #fff;
}

#navcontainer ul #twitter:hover {
    background-color: #55acee;
    color: #fff;
}

#navcontainer ul #linkedin:hover {
    background-color: #0077B5;
    color: #fff;
}

#navcontainer ul #instagram:hover {
    background-color: #3f729b;
    color: #fff;
}*/

@media (min-width: 201px) and (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    #headerwrap h1 {
        font-size: 300% !important;
    }
    #headerwrap h4 {
        font-size: 130% !important;
    }
    #headerwrap .press {
        margin-top: 100px;
    }
    .press button {
        font-size: 16px !important;
    }
    #workSection {
        min-height: 1600px;
    }
    #footerwrap .details {
        padding-top: 30px;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    #headerwrap h1 {
        font-size: 350% !important;
    }
    #headerwrap h4 {
        font-size: 170% !important;
    }
}

@media (min-width: 501px) {
    body {
        overflow-x: hidden;
    }
}